<link href="add.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

<h1 class="centerHeading" style="font-family: Permanent Marker;">Add Chitter</h1>

<form class="centerAdd" action="/home" method="POST">
<input type="text" name="chitter" id="chitterTextBox" placeholder="Enter Chitter">
<input type="submit" value="Add" id="chitterSubmit" class="addButton"></form>