<link rel="stylesheet" href="styles.css">

<h1 id="loginWelcome" class="centerHeading">Welcome to Chitter</h1>
<hr>

<div class="centerLogin">
<h2>Please sign up or log in to continue:</h2>
<p id="errorMessage" style="color: red;" ><%= error %></p> 
<form action="/login" method="POST">
<input type="text" name="username" id="usernameLogin" placeholder="Username">
<input type="password" name="password" id="passwordLogin" placeholder="Password">
<input type="submit" value="Go" id="homepageButton">
</form>
<br>
<br>
<p>Don't have an account? Sign up below:</p>
<form action="/signup/new" method="GET">
<input type="submit" value="Sign Up" id="signupButton"></form>
</div> 