<link href="styles.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">

<h1 id="loginWelcome" style="font-family: Permanent Marker;" class="centerHeading">Welcome to Chitter</h1>
<hr>

<div class="centerLogin">
<h2 style="font-family: Luckiest Guy;">Please sign up or log in to continue:</h2>
<p id="errorMessage" style="color: red;" ><%= error %></p> 
<form action="/login" method="POST">
<input type="text" name="username" id="usernameLogin" placeholder="Username">
<input type="password" name="password" id="passwordLogin" placeholder="Password">
<input type="submit" value="Go" id="homepageButton">
</form>
<br>
<br>
<p style="font-family:'Courier New', Courier, monospace;">Don't have an account? Sign up below:</p>
<form action="/signup/new" method="GET">
<input type="submit" value="Sign Up" id="signupButton"></form>
<br><p style="font-family:'Courier New', Courier, monospace;">Want to see peeps without being a member?</p>
<form action="/trial" method="GET">
<input type="submit" value="Go" id="trialButton"></form>

</div> 