<h1>Homepage</h1> <h2 id="welcomeMessage">Welcome Guest </h2>
<hr>
<h3>Chitters:</h3>
<hr>



<div id='chitter'>
    <% chitter.map((peep, index) => {%>
   <%= `${peep.User.name} - ${peep.User.username}:` %>
   <p id="chitter-<%=index%>"><%= peep.chitter %></p>
   <%= peep.createdAt %> <hr>
   <% })%>

   </div>