
body{
    background: rgb(251,251,251);
    background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(105,166,161,1) 100%);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.centerHeading{
    position:relative;
    left: 40%;
}

.centerLogin{
    position:relative;
    left: 38%;
    top: 20%;
}