<link href="signup.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

<h1 style="font-family: Permanent Marker;">Sign up to Chitter!</h1>
<%= error %> <br> <br>
<form action="/signup" method="POST">
    <input id="newEmail" type="email" placeholder="Email" name="email">
    <input id="newUsername" type="text" placeholder="Username" name="username">
    <input id="newName" type="text" placeholder="Full Name" name="fullName">
    <input id="newPassword" type="password" placeholder="Password" name="password">
    <input id="signUpSubmit" type="submit" value="Submit">
</form>